<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
    <title>Vehicle Purchase</title>
</head>

<body>
<!--Header: sign up / in-->
<div>
    <input type="button" value="Sign up" onclick="document.getElementById('signup').style.visibility='visible'" />
    <div id="signup" style="visibility:hidden">
        <form method="POST" action="/signup">
            Role:
            <select name="role">
                <option value = "customer">Customer</option>
                <option value = "supplier">Supplier</option>
            </select><br>
            User ID:            <input type="text" name="uid"><br>
            User name:          <input type="text" name="name"><br>
            Shipping address:   <input type="text" name="address"><br>
            Telephone number:   <input type="text" name="phone"><br>
            Email address:      <input type="text" name="email"><br>
            <input type="submit" value="Sign up">
        </form>
    </div>
    <div id="signin">
        <form method="POST" action="/login">
            User Id:<input type="text" name="uid"><br>
            <input type="submit" value="Sign in">
        </form>
        {{currentUidMessage}}
        <a href="/logout">log out</a>
    </div>
</div>
<!--Body: vehicle list-->
<div>
    <h1>Vehicle list</h1>
    <div>
        <!--list all the categories here-->
        <form method="POST" action = "/">
            <select name="categories" onchange="this.form.submit()">
                <option value = "none">vehicle category</option>
                {% for n in categories %}
                <option value = {{n['id']}}>{{n['name']}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div>
        <p>List of category: {{selectedCategory}}</p>
        <!--list all the vehicles under this category here-->
        {% for n in vehicleList %}
        <div>
            Name:       <span>{{n['name']}}</span><br>
            <img src={{n['picture']}} width='500'><br>
            Description:<span>{{n['description']}}</span><br>
            UnitInStock:<span>{{n['unitInStock']}}</span><br>
            Price:      <span>{{n['price']}}</span><br>
            Discount:   <span>{{n['discount']}}</span><br>
            <div>
                Reviews:<br>
                {% for i in n['reviewList'] %}
                <span>User {{i['uid']}} said: {{i['content']}}</span><br>
                {% endfor %}
            </div>

            <!--write review-->
            <div id="writereview">
                <form method="POST" action="/writereview">
                    <input type="hidden" name="vid" value={{n['vid']}} />
                    <input type="text" name="content"><br>
                    <input type="submit" value="Submit Review">
                </form>
            </div>

            <!--buy now-->
            <input type="button" value="Buy Now" onclick="document.getElementById('{{n['vid']}}').style.visibility='visible'" />
            <div id={{n['vid']}} style="visibility:hidden">
                <form method="POST" action="/buynow">
                    <input type="hidden" name="vid" value={{n['vid']}} />
                    Choose payment method:
                    <!--list all the payment options here-->
                    <select name="paymentId">
                        <option value = none>select payment</option>
                        {% for i in paymentList %}
                        <option value = {{i['paymentId']}}>{{i['accountNo']}}</option>
                        {% endfor %}
                    </select><br>

                    <input type="button" value="Add new payment method" onclick="document.getElementById('addpayment').style.visibility='visible'" />
                    <div id="addpayment" style="visibility:hidden">
                            Account number: <input type="text" name="accountNo"><br>
                            Billing address:<input type="text" name="billingAddress"><br>
                    </div>
                    
                    Choose shipper:
                    <!--list all the shippers here-->
                    <select name="shipperId">
                        <option value ="none">select shipper</option>
                        {% for i in shippers %}
                        <option value = {{i['shipperId']}}>{{i['company']}}</option>
                        {% endfor %}
                    </select><br>
                    <input type="submit" value="Place order">
                </form>
            </div>
        
        </div>
        {% endfor %}
    </div>
</div>
<!--Footer: view order / add vehicle-->
<div>
    <input type="button" value="View my orders" onclick="document.getElementById('vieworders').style.visibility='visible'" />
    <div id="vieworders" style="visibility:hidden">
        <!--list all the orders of this customer-->
        {% for i in orders %}
        <div>
            OrderId:        <span>{{i['orderId']}}</span><br>
            Shipper:        <span>{{i['shipper']}}</span><br>
            Vehicle:        <span>{{i['vehicle']}}</span><br>
        </div>
        <br>
        {% endfor %}
    </div>

    <input type="button" value="Add vehicle" onclick="document.getElementById('addvehicle').style.visibility='visible'" />
    <div id="addvehicle" style="visibility:hidden">
        <form method="POST" action="addvehicle">
            <select name="categories">
                <option value = "none">vehicle category</option>
                {% for n in categories %}
                <option value = {{n['id']}}>{{n['name']}}</option>
                {% endfor %}
            </select><br>
            Name:       <input type="text" name="name"><br>
            Picture:    <input type="text" name="picture"><br>
            Description:<input type="text" name="description"><br>
            UnitInStock:<input type="text" name="unitInStock"><br>
            Price:      <input type="text" name="price"><br>
            Discount:   <input type="text" name="discount"><br>
            <input type="submit" value="Add this item">
        </form>
    </div>
</div>
</body>
</html>